.main {
  width: 100%;
  height: 16vh;
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
  position: relative;

  @media screen and (max-width: 600px) {
    margin-top: 20px;
  }

  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ff9c2a;
    width: 50%;
    height: 100%;
    position: absolute;

    @media screen and (max-width: 600px) {
      width: 85vw;
    }

    &.right {
      border-radius: 50px 0px 0px 50px;
      right: 0;
    }

    &.left {
      left: 0;
      border-radius: 0px 50px 50px 0px;
    }

    span {
      color: white;
      direction: rtl;
      font-family: Ori;
      text-align: center;

      &.category {
        font-size: 3.9em;
        margin: -5px 5px 0.2vh 0px;
        text-shadow: 1px 1px black;

        @media screen and (max-width: 600px) {
          font-size: 50px;
          margin-bottom: 5px;
        }
      }

      &.description {
        font-size: 1.5vw;
        margin: 0px 10px 50px 50px;
        line-height: 2.7vh;
        text-shadow: 0.5px 0.5px black;

        @media screen and (max-width: 600px) {
          font-size: 4.5vw;
          margin: 0px 10px 20px 20px;
        }
      }
    }
  }
}
