.tableDish {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 30px 70px 0px 20px;
  position: relative;
  margin-bottom: 0;

  &:last-child {
    margin-bottom: 30px;
  }

  @media screen and (max-width: 600px) {
    margin: 20px 10px 0px 0px;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;

    @media screen and (max-width: 600px) {
      width: 18vh;
      height: 18vh;
    }
  }

  .stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: center;
    width: 20%;
    grid-gap: 25%;
    margin-right: 2%;
    font-size: 2vw;

    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 0px;
      width: 15%;
      font-size: 4vw;
      position: absolute;
      left: 0;
      bottom: 25%;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;

    .rating {
      font-size: large;
      margin-right: 10px;
      position: absolute;
      bottom: 0;

      span {
        margin: 1mm;
      }

      @media screen and (max-width: 600px) {
        font-size: 3vw;
      }
    }

    span {
      color: white;
      direction: rtl;
      width: 95%;
      margin-right: 10px;

      &.name {
        font-size: 2.5vw;
        font-weight: bold;
        text-decoration: underline;

        @media screen and (max-width: 600px) {
          font-size: 6vw;
        }
      }

      &.description {
        margin-top: 5px;
        font-size: 1.7vw;
        margin-bottom: 13px;

        @media screen and (max-width: 600px) {
          font-size: 4vw;
        }
      }
    }
  }

  span {
    color: white;
    direction: rtl;

    &.price {
      margin: 0px 5px;
      font-size: 27px;
      position: absolute;
      left: 10%;

      @media screen and (max-width: 600px) {
        font-size: 7vw;
        left: 0;
      }
    }
  }
}
