.sauceContainer {
  display: flex;
  flex-direction: column;

  .info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px;

    span {
      color: white;
      font-size: 2.75vw;
      margin-left: 20px;
      margin-top: 10px;
      text-shadow: 1px 1px black;

      @media screen and (max-width: 600px) {
        font-size: 7vw;
        margin-top: 0px;
        margin-bottom: 10px;
      }

      &.description {
        color: #f69d29;
        font-family: "SecelyMF";
      }

      &.step {
        width: 50px;
        height: 50px;
        font-size: 3.5vw;

        @media screen and (max-width: 600px) {
          font-size: 10vw;
        }

        border: 2px solid #f69d29;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }
  }
  .sauce {
    cursor: pointer;
  }
}
