.containerDiv {
  display: flex;

  background-color: red;
  .addToCart {
    font-size: large;
    background-color: white;

    @media screen and (max-width: 600px) {
      height: 35px;
      font-size: 25px;
      bottom: 40%;
    }

    &:active {
      outline: none;
      font-weight: bold;
    }

    &:focus {
      outline: none;
    }
  }
}
