.reviewsContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100%;

  img {
    height: 70%;
    width: 15%;
    margin: 10px 20px 0px 0px;

    border-radius: 10px;

    @media screen and (max-width: 600px) {
      height: 50%;
      width: 35%;
    }
  }
}
