body {
  background-image: url(./Assets/chalk_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: RiflexRegualr;
  src: local("RiflexRegular"),
    url(./Assets/fonts/RiflexRegular.TTF) format("truetype");
}

* {
  font-family: RiflexRegualr;
}
